@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.body {
    overflow: hidden;
}

#container {
  margin-top: 250px;
  margin-left: 160px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#container .animated {
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-25px);
  }  
}

@keyframes up-down {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-25px);
  }  
}

#head1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
}

#head1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  


#brandName {
    color: #3498db;
}

#head2 {
    padding-top: 0;
}

#head3 {
    font-size: 15px;
    font-weight: 400;
    color: black;
}

#content {
  width: 660px;
  color: black;
  white-space: normal;
  font-size: 16px;
}

.homePic {
  margin-right: 100px;
  margin-top: -200px;
  width: 700px;
  height: 700px;
}

.homePic {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }	
}

.aboutPic {
  margin-right: 100px;
  margin-top: 0px;
  width: 700px;
  height: 300px;
}

.aboutPic {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }	
}

@media screen and (max-width: 770px) {
    #container {
        margin-top: 50px;
        margin-left: 10px;
        display: block;
        align-items: center;
    }
    #content {
        width: 100%;
    }
    #head1 {
        font-size: 20px;
    }

    .homePic  {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .aboutPic {
        margin: 0;
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }
  }
  